@page "/MyProjects"
@using Domain.DTOs
@using Domain.DTOs.Project
@using Domain.Models
@using HttpClients.ClientInterfaces
@using Microsoft.AspNetCore.Components
@using UIComponents
@inject IProjectService projectService
@inject NavigationManager navMgr
@inject AuthenticationStateProvider asp

<AuthorizeView>
    <NotAuthorized>
        <label>You must be logged in to perform that action.</label>
    </NotAuthorized>
    <Authorized>
        <div class="user-projects">
            <h3>Projects</h3>
            @if(memberProjects == null) {
                <label>Loading...</label>
            }
            else if (memberProjects.Count() == 0)
            {
                <label>This members does not belong to any teams.</label>
            }
            else
            {
                @foreach (BasicProjectDTO project in memberProjects)
                {
                    <div class="team-card" @onclick="@(() => navMgr.NavigateTo($"/project/{project.Id}"))">
                        <div id="teamName">@project.ProjectName</div>
                        <label id="teamLeaderName">@project.TeamName</label>
                    </div>
                }
            }
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private ICollection<BasicProjectDTO> memberProjects { get; set; }

    private string msg = "";

    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            int id = Int32.Parse(asp.GetAuthenticationStateAsync().Result
                .User.Claims.First(c => c.Type.Equals("Id")).Value);

            memberProjects = await projectService.GetByUserIdAsync(id);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}
