@page "/SearchMember"
@using UIComponents
@using HttpClients.ClientInterfaces
@inject IMemberService userService

<AuthorizeView>
    <NotAuthorized><label>You must be logged in to perform this action.</label></NotAuthorized>
    <Authorized>
        <h3>Search Members</h3>
        <SearchMember Edit=false></SearchMember>
    </Authorized>
</AuthorizeView>

@code {
}
