@page "/SearchUser"
@using UIComponents
@using HttpClients.ClientInterfaces
@inject IMemberService userService

<AuthorizeView>
    <NotAuthorized><label>You must be logged in to perform this action.</label></NotAuthorized>
    <Authorized>
        <h3>Search Users</h3>
        <SearchUser Edit=false></SearchUser>
    </Authorized>
</AuthorizeView>

@code {
}
