body {
    background-color: whitesmoke;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 250px;
    padding: 25px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
}

.field {
    margin-top: 20px;
}

    .field > input {
        border-radius: 5px;
    }

.acceptbtn {
    background-color: #194A7E;
    transition: 0.3s;
    color: white;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.acceptbtn:hover {
    background-color: rgb(37, 150, 190);
    transition: 0.3s;
}

.button-row {
    margin-top: 15px;
}
