@inherits LayoutComponentBase
@using HttpClients.ClientInterfaces
@inject IUserService userService
@inject NavigationManager navMgr

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (userService.User != null)
            {
                <a href="profile/@userService.User.Id">@userService.User.UserName</a>
                <a href="#" @onclick="LogOut">Log out</a>
            }
            else {
                <a href="login">Log in</a>
                <a href="signup">Sign up</a>
            }           
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string fullName = "";

    protected override async Task OnInitializedAsync()
    {
        await userService.InitializeAsync();
    }

    private async Task LogOut() {
        await userService.LogoutAsync();
        navMgr.NavigateTo("/", forceLoad: true);
    }
}
